.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form__input {
  width: 100%;
  margin-bottom: 10px;
}

.add-form__input-question {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 6px 10px;
  font-weight: bold;
}

.add-form__input-answer {
  background: none;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 6px 10px;
}
