.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 40px;
}

.title {
  margin: 0 10px;
  font-size: 40px;
  text-transform: uppercase;
}
